@media (max-width:1050px) {
    .nav{
        margin: 0 20px!important;
    }
    .header-container{
        height: 700px;
    }
}

@media (max-width:1120px) {
    .area-content{
        flex-direction: column;
        width: 100%;
        bottom: -140px;
    }
    .area-content input{
        width: 100%!important;
    }
}

@media (max-width:991px) {
    .inside-box{
        height: 700px;
    }
    .area-content{
        flex-direction: row;
        bottom: -140px;
    }
    .area-content input{
        width: 100%!important;
    }
    .searching-container{
        height: 700px;
    }
    .header-container{
        height: 650px;
    }
    .nav{
        margin: 0!important;
        flex-wrap: nowrap!important;
        justify-content: flex-start!important;
    }
    .basis-48{
        flex-basis: 50%;
    }
    .basis-52{
        flex-basis: 50%;
    }
    .custom-box-shadow,
    .custom-box-shadow2{
        box-shadow: none;
        background-color: transparent;
        z-index: 200;   
    }
    .logo-anchor::before{
        box-shadow: 0px 36px 10px 25px #a8a8a8;
    }
}


@media (max-width:991px) {
    .order{
        order: 1;
    }
    .translate-80{
        transform: translateY(-180px)!important;
    }
    .back-image2{
        transform: translate(40%,15%);;
    }
    .ml-110{
        margin-left: 90px!important;
    }
    .height-auto{
        height: auto!important;
    }
    .font-l{
        font-size: 3rem;
    }
    .font-xxl{
        font-size: 4.875rem;
    }
    .font-xl{
        font-size: 3.44356rem;
    }
    .font-sm-lg{
        font-size: 1.1375rem!important;
    }
    .company-heading::after{
        font-size: 1rem;
    }

    .gap-normal{
        gap: 1.5rem!important;
    }

    .header-content{
        transform: translateY(150px);
    }

    .custom-nav-div{
        justify-content: flex-start!important;
        position: absolute!important;
        padding: 0px!important;
        top: -15px;
        left: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.9);
        z-index: 4;
        width: 0px!important;
        overflow-y: auto;
        transition: all 0.2s ease-in-out;
    }
    .custom-nav{
        flex-direction: column!important;
        width: 100%;
    }
    
    .custom-dropdown-menu{
        position: relative!important;
        transform: translate(0,5px)!important;
        margin: 0px 10px;
        border: none!important;
        background-color: transparent!important;
    }
    
    .width-effect{
        width: 300px!important;
        padding: 40px 20px!important;
        transition: all 0.2s ease-in-out;
    }

    .menu{
        display: flex!important;
        position: absolute;
        right: 10px;
        top: 33px;
    }

    .header-container{
        background-position: center;
    }
}


@media (max-width:767px) {
    .inside-box{
        height: 500px;
    }
    .basis-49{
        flex-basis: 100%;
    }
    .searching-container{
        height: 1000px;
    }
    .logo-image{
        height: 70px;
    }
    .text-box{
        width: 100%!important;
    }
    .text-div{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.25)!important;
    }
    .text-div h4{
        color: #fff!important;
    }
    .text-div p{
        color: #fefefe!important;
    }
    .text-image-div img{
        width: 100%;
        height: 100%;
    }
    .feature-card-text{
        display: none!important;
    }
    .font-sm-lg{
        font-size: 1rem!important;
    }
    .font-xlg{
        font-size: 1.4rem!important;
    }
    .custom-card-overlay{
        height: 400px!important;
    }
    .custom-card-overlay img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .back-image2{
        /* transform: translate(5%,15%);; */
        display: none!important;
    }
    .translate-80{
        transform: translateY(-300px)!important;
    }
    .basis-52{
        flex-basis: 100%;
    }
    .area-content{
        flex-direction: row!important;
        bottom: -95px!important;
    }
    .area-content input{
        width: 49%!important;
    }
}

@media (max-width:575px) {
    .inside-box{
        height: auto;
    }
    .bottom-feature-card{
        transform: translate(0%,30%);
        z-index: 3;
    }
    .feature-card-text{
        padding-top: 30px!important;
    }
    .meet-text{
        padding: 10px 20px!important;
    }
    .heading{
        justify-content: center;
    }
    .translate-10{
        transform: translateY(0)!important;
    }
    .hide-overflow{
        overflow: hidden!important;
    }
    .join-subcontainer{
        padding: 10px 0px 0px 5px;
    }
    .contact-para{
        font-size: 1rem;
    }
    .contact-heading{
        font-size: 1.5rem;
    }
    .marketing-div{
        padding: 30px!important;
    }
    .marketing-para,
    .event-para{
        font-size: 1rem;
    }
    .info-para{
        font-size: 0.9rem!important;
    }
    .ml-110{
        margin-left: 20px!important;
    }
}


@media (max-width:550px) {
    .font-l{
        font-size: 2rem;
    }
    .font-xxl{
        font-size: 3rem;
    }
    .font-xl{
        font-size: 2.2rem;
    }
    .company-heading::after{
        font-size: 0.8rem;
    }
    .header-content{
        margin-left: 15px!important;
    }
    .custom-card-overlay{
        height: 380px!important;
    }
    .work-smallFont{
        font-size: 1.1rem;
    }
    .direction{
        flex-direction: column!important;
    }
}

@media (max-width:440px) {
    .back-image{
        display: none!important;
    }
    .logo-image{
        height: 50px;
    }
    .image-Btn{
        transform: translate(-5%, -50%);
    }
    .custom-small-padding{
        padding: 20px 10px!important;
    }
}



@media (max-width:360px) {
    .no-gap{
        gap: 0!important;
    }
    .custom-small-padding{
        padding: 20px 5px!important;
        width: 100%!important;
    }
    .contact-text{
        font-size: 0.7625rem;
    }
    .font-l{
        font-size: 1.7rem;
    }
    .font-xxl{
        font-size: 2.5rem;
    }
    .font-xl{
        font-size: 1.8rem;
    }
    .width-effect{
        width: 255px!important;
    }
    .g-recaptcha{
        display: none!important;
    }
    .line1,.line3{
        width: 30px!important;
    }
    .line2{
        width: 20px!important;
    }
    .input-field{
        flex-direction: column!important;
    }
    .area-content{
        bottom: -140px!important;
        flex-direction: column!important;
    }
    .area-content input{
        width: 100%!important;
    }
}

@media (max-width:340px) {
    .no-gap{
        flex-direction: column!important;
        gap: 2rem!important;
    }
}

@media (max-width:991px) {
    .custom-blog-card{
        min-width: 100%;
    }
    .custom-blog-card:nth-child(1) .readMoreBtn{
        margin-top: 30px!important;
    }
}

@media (max-width:830px) {
    .custom-blog-card:nth-child(1),
    .custom-blog-card:nth-child(3){
        transform: translateX(0px);
    }
}

@media (max-width:767px) {
    .custom-blog-card{
        min-width: 300px;
        height: 660px;
    }
    .custom-blog-card img{
        height: 300px;
    }
}


@media (max-width:575px) {
    .custom-blog-card{
        height: 580px;
    }
}

@media (max-width:440px) {
    .logo-anchor::before{
        box-shadow: 0px 26px 10px 25px #a8a8a8;
    }
}


@media (max-width:380px) {
    .custom-blog-card{
        height: 540px;
    }
    .custom-blog-card:nth-child(1) .readMoreBtn{
        margin-top: 0px!important;
    }
}