@font-face {
    font-family: 'Neothic';
    src: url('Neothic.woff2') format('woff2'),
        url('Neothic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

